<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button icon-left (tap)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
        Back
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button icon-only (tap)="share()" style="margin-right: 10px;">
        <ion-icon name="share"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="holder"></div>
  <div *ngIf="post">
    <img class="post-cover-image" [src]="post.featuredImageURL" *ngIf="post.featuredImageURL" width="100%"/>
    <div class="post-content" padding>
      <h4 [innerHTML]="removeHTML(post.title.rendered)"></h4>
      <p [innerHTML]="removeHTML(post.content.rendered)" style="line-height: 1.3;">
      </p>
    </div>
  </div>
</ion-content>
