// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-toolbar {
  background-color: #fefefe;
  box-sizing: border-box;
  position: fixed;
  padding: 10px;
  top: 0;
  color: #000000;
  width: 100%;
  z-index: 100;
  text-align: center;

  .header-image {
    margin: 0 auto;
    height: 30px;
  }
}

ion-content {
  margin-top: 52px;
}

.main-fab {
  background-color: #b71c1c;
  color: #fefefe;
  position: fixed;
  font-size: 24px;
  padding: 16px;
  border-radius: 32px;
  bottom: 20px;
  width: 64px;
  height: 64px;
  margin: 0 auto;
  text-align: center;
  left: calc((100% - 60px)/2);
  box-shadow: 0px 2px 12px 6px rgba(0, 0, 0, .1);

  ion-icon {
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
  }
}

/* POST CONTENT */
.post-content {
  margin-bottom: 40px;
}

/* POST COVER IMAGE */
.post-cover-image {

}
