// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import 'fonts';

ion-toolbar {
  text-align: left;
  font-family: 'Muli', sans-serif;

  .header-image {
    margin: 0 auto;
    height: 30px;
    vertical-align: middle;
  }

  span, .icon-dropdown {
    margin-left: 6px;
    font-size: 16px;
    vertical-align: middle;
  }

  .icon-dropdown {
    font-size: 20px;
    color: #888;
    margin-top: 4px;
  }
}

.ios ion-toolbar > * {
  padding-top: 15px;
}

ion-content {
  background-color: #fff !important;
  font-family: 'Muli', sans-serif;
}

.holder {
  display: none;
}


.main-fab {
  background-color: #b71c1c;
  color: #fefefe;
  position: fixed;
  font-size: 24px;
  padding: 16px;
  border-radius: 32px;
  bottom: 20px;
  width: 64px;
  height: 64px;
  margin: 0 auto;
  text-align: center;
  left: calc((100% - 60px)/2);
  box-shadow: 0px 2px 12px 6px rgba(0, 0, 0, .1);

  ion-icon {
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
  }
}

/* POST CONTENT */
.post-content {
  margin-bottom: 40px;

  h4 {
    font-weight: 400;
  }
}

.news-card {
  // background-color: #fafafa;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 5px;

  img {
    padding: 0;
    margin: 0;
    width: 28%;
    border-radius: 6px;
    overflow: hidden;
  }

  .news-card-desc {
    display: inline-block;
    width: 60%;
    // margin-left: 10px;
    vertical-align: top;
    margin-right: 5px;

    h3 {
      font-size: 16px;
      padding-top: 0;
      margin-top: 8px;
      margin-bottom: 8px;
      font-weight: 400;
      max-width: 90%;
      overflow-wrap: break-word;
    }

    p {
      font-size: 12px;
      color: #555;
      padding: 0;
      margin: 0;
      overflow-wrap: break-word;
      max-width: 90%;
      line-height: 1.3;
    }
  }

  &.news-full {
    flex-direction: column-reverse;
    padding: 20px 10px;
    border-radius: 6px;
    box-shadow: 0px 2px 12px 2px rgba(150, 150, 150, .1);
    width: 94%;
    margin: 10px auto;

    img {
      width: 90%;
    }
    .news-card-desc {
      padding-top: 12px;
      width: 88%;
      h3 {
        font-size: 18px;
      }
      p {
        font-size: 14px;
      }
    }

  }


}


.search-query {
  display: block;
  margin: 14px 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #888;
  font-size: 11px;
}
